---

const {
    idLink = '',
    classLink = '',
    hrefLink = '',
    brandSrc = '',
    brandAlt = '',
    classImage = ''
} = Astro.props

---

<a 
    id={idLink || undefined}
    class={`${classLink}`}
    href={hrefLink}
>
    <figure>
        <img 
            src={brandSrc} 
            alt={brandAlt} 
            class={`${classImage}`}
        />
    </figure>
</a>