---
import Typography from "../ui/Typography.astro";
import Container from "../elements/Container.astro";
import Section from "../elements/Section.astro";
import Button from "../ui/Button.astro";

interface Props {
    sectionId?: string;
    sectionClass?: string;
    containerId?: string;
    containerClass?: string;
    title?: string;
    titleClass?: string;
    description?: string;
    descriptionClass?: string;
    buttonHref?: string;
    buttonText?: string;
    buttonType?: "button" | "submit" | "reset";
}

const {
    sectionId,
    sectionClass = "",
    containerId,
    containerClass = "",
    title = "Título de ejemplo",
    titleClass = "",
    description,
    descriptionClass = "",
    buttonHref,
    buttonText,
    buttonType,
}: Props = Astro.props;

const sectionClassFinal = `bg-accent-500 ${sectionClass}`.trim();
const containerClassFinal = `text-center ${containerClass}`.trim();
const titleClassFinal = `mb-6 text-info-950 ${titleClass}`.trim();
const descriptionClassFinal = `mb-8 text-info-700 ${descriptionClass}`.trim();
---

<Section id={sectionId} class={sectionClassFinal}>
    <Container id={containerId} class={containerClassFinal}>
        <Typography tag="h2" class={titleClassFinal}>
            {title}
        </Typography>

        {
            description && (
                <Typography
                    tag="p"
                    class={descriptionClassFinal}
                    set:html={description}
                />
            )
        }

        {
            buttonHref && buttonText && (
                <Button href={buttonHref} type={buttonType}>
                    {buttonText}
                </Button>
            )
        }
    </Container>
</Section>
