---
import "../styles/global.css";
import HeaderFixed from "../lib/components/layout/HeaderFixed.astro";
import Footer from "../lib/components/layout/Footer.astro";
import BaseHead from "../lib/components/head/Basehead.astro";
import brandLogo from "../assets/brand.svg";
import brandlogoDark from "../assets/brand-negative.svg";

const { children } = Astro.slots;

const navLinks = [
  { href: "/", text: "Inicio" },
  { href: "/hero", text: "Heroes" },
  { href: "/banner", text: "Banners" },
  { href: "/about", text: "About" },
  { href: "/ui", text: "UI" },
  { href: "/widgets", text: "Widgets" },
  { href: "/animations", text:"Animations"}

];

const {
  title = "Inicio",
  description = "Componentes UI modernos y reutilizables para proyectos Astro + Tailwind",
  url = "https://tusitio.com",
  author = "Sebas Echazú",
  favicon = "/favicon.svg",
} = Astro.props;

const brandData = {
  href: "/",
  src: brandLogo,
  alt: "Logo de Mi Librería UI",
  class: "custom-brand-class",
  classImage: "h-8 w-auto",
};

const footerData = {
  imageSrc: brandlogoDark,
  imageAlt: "Logo Footer Demo",
  legend:
    "FTN UI es una librería de componentes visuales para Astro + Tailwind. Flexible, accesible y lista para producción.",
  navLinks,
  copyright: "© 2025 FTN UI. Todos los derechos reservados.",
  author: "Desarrollado por FTN Agency",
  animationLevel: "fancy",
};

---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      site="Astro UI"
      title={title}
      description={description}
      url={url}
      author={author}
      favicon={favicon}
    />
  </head>
  <body>
    <HeaderFixed links={navLinks} brand={brandData} />
    <main class="pt-14">
      <slot name="default" />
    </main>

    <Footer {...footerData} />
  </body>
</html>
