---
import "../styles/global.css";
import HeaderFixed from "../components/composed/HeaderFixed.astro";
import Footer from "../components/composed/Footer.astro";
import BaseHead from "../components/head/Basehead.astro";
import brandLogo from "../assets/brand.svg";
import brandlogoDark from "../assets/brand-negative.svg";

const { children } = Astro.slots;

const navLinks = [
  { href: "/", text: "Inicio" },
  { href: "/hero", text: "Heroes" },
  { href: "/banner", text: "Banners" },
  { href: "/about", text: "About" },
];

const {
  title = "Inicio",
  description = "Componentes UI modernos y reutilizables para proyectos Astro + Tailwind",
  url = "https://tusitio.com",
  author = "Sebas Echazú",
  favicon = "/favicon.svg",
} = Astro.props;

const brandData = {
  href: "/",
  src: brandLogo,
  alt: "Logo de Mi Librería UI",
  class: "custom-brand-class",
  classImage: "h-8 w-auto",
};

const footerData = {
  imageSrc: brandlogoDark,
  imageAlt: "Logo Footer Demo",
  legend: "Hecho con ❤️ y Astro",
  navLinks: navLinks,
  copyright: "© 2025 Mi Librería UI. Todos los derechos reservados.",
  author: "Desarrollado por [Tu Nombre]",
};
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      site="Astro UI"
      title={title}
      description={description}
      url={url}
      author={author}
      favicon={favicon}
    />
  </head>
  <body>
    <HeaderFixed links={navLinks} brand={brandData} />
    <main class="pt-14">
      <slot name="default" />
    </main>

    <Footer
      copyright={footerData.copyright}
      author={footerData.author}
      imageSrc={footerData.imageSrc}
      imageAlt={footerData.imageAlt}
      legend={footerData.legend}
    />
  </body>
</html>
