---
import Typography from "../ui/Typography.astro";
import Container from "../elements/Container.astro";
import Nav from "../elements/Nav.astro";
import { Image } from "astro:assets";
import type { FooterProps } from "../../types/layout/FooterProps";
import fallbackFooterImage from "../../assets/footer/default-footer.svg";

const {
  className,
  legend,
  imageSrc,
  imageAlt,
  navLinks = [],
  copyright,
  author,
} = Astro.props as FooterProps;

const logoToUse = imageSrc ?? fallbackFooterImage;
---

<footer class={`${className ? className : "bg-gray-900"} py-10`}>
  <Container>
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-8 text-center md:text-left"
    >
      <div>
        <Image
          src={logoToUse}
          alt={imageAlt ?? "Logo por defecto del footer"}
          width={100}
          height={30}
          class="h-7 w-auto mb-2"
          loading="lazy"
        />
        {legend && <Typography variant="muted">{legend}</Typography>}
      </div>

      <div>
        <Nav links={navLinks} variant="muted" />
      </div>
    </div>

    <div class="mt-8">
      {
        copyright && (
          <Typography tag="small" variant="muted">
            {copyright}
          </Typography>
        )
      }
      {
        author && (
          <Typography tag="small" variant="muted">
            {author}
          </Typography>
        )
      }
    </div>
  </Container>
</footer>
