---
import Overlay from "../elements/Overlay.astro";
import Container from "../elements/Container.astro";
import BrandLink from "../ui/BrandLink.astro";
import Nav from "../elements/Nav.astro";
import type { HeaderFixedProps } from "../../types/layout/HeaderFixedProps";

const {
  id = "",
  class: className = "",
  links = [],
  brand,
  navVariant = "default",
  containerVariant = "default",
} = Astro.props as HeaderFixedProps;

const headerShrinkClasses =
  "py-1 rounded-b-xl shadow-md bg-white/90 backdrop-blur";
---

<header
  id="header"
  class={`fixed top-0 left-0 right-0 z-30 bg-white py-2 mx-auto transition-all duration-300 max-w-full ${className}`}
>

  <Container
  id="header-container"
  variant={containerVariant}
  class="w-full mx-auto transition-all duration-300 max-w-full"
>


    <div class="flex justify-between items-center">
      <BrandLink
        hrefLink={brand.href || "#"}
        idLink={brand.id || undefined}
        classLink={brand.class || ""}
        brandSrc={brand.src}
        brandAlt={brand.alt}
        classImage={brand.classImage}
      />

      <button
        id="menu-toggle"
        class="w-14 h-14 p-4 cursor-pointer z-30 md:hidden flex items-center justify-center"
        aria-expanded="false"
      >
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          ></path>
        </svg>
      </button>

      <Nav id="nav-menu" links={links} variant={navVariant} />
    </div>
  </Container>

  <Overlay />
</header>

<script src="../../scripts/menuToggle.ts"></script>
<script src="../../scripts/headerShrink.ts"></script>
